* {
    box-sizing: border-box;
}
body {
	margin:0; padding:0;
	width:100%; height:100%;
    font-family: Arial;
    padding: 10px;
    background: #ffffff;
}
a{
  text-decoration:none
}
a:link{
  text-decoration:none;
  color:#333;
}
a:visited{
  text-decoration:none;
  color:#333;
}
a:active{
  text-decoration:none;
  color:#333;
}
a:hover{
  text-decoration:none;
  color:#333;
}
/* 헤더 타이틀 */
.header {
    height:120px;
    padding: 20px;
    text-align: center;
    background: #ffffff;
}
.header h1 {
    font-size: 35px;
}
/* 네비게이션 바 */
.topnav {
    overflow: hidden;
    background-color: rgb(174, 204, 183);
}
/* 바 링크 */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* 컬럼을 두개로 나눔 */
/* 왼쪽 컬럼 */
.leftcolumn {
    float: left;
    width: 15%;
}
/* 오른쪽컬럼 */
.rightcolumn {
    float: left;
    width: 85%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
/* 이미지 */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
/* 카드효과 */
.card {
    text-align: center;
    background-color: white;
    padding: 20px;
    margin-top: 130px;
}
.topmenucard {
    background-color:rgb(174, 204, 183);
    padding: 15px;
    margin-top: 20px;
}
.menucard {
    background-color:rgb(174, 204, 183);
    padding: 15px;
    margin-top: 1px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Footer */
.footer {
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
    margin-top: 20px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}
