* {
    box-sizing: border-box;
}
body {
	margin:0; padding:0;
	width:100%; height:100%;
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}
a{
  text-decoration:none
}
a:link{
  text-decoration:none;
  color:#333;
}

.header {
    height:120px;
    padding: 20px;
    text-align: center;
    background: #f1f1f1;
}
.header h1 {
    font-size: 35px;
}
.leftcolumn {
    float: left;
    width: 15%;
}
.rightcolumn {
    float: left;
    width: 85%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
.topmenucard {
    background-color:rgb(174, 204, 183);
    padding: 15px;
    margin-top: 20px;
}
.menucard {
    background-color:rgb(174, 204, 183);
    padding: 15px;
    margin-top: 1px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.footer {
    text-align: center;
    padding: 10px;
    background: #f1f1f1;
    margin-top: 20px;
}

